@mixin laptop-offset {
    padding-left: 180px;
    padding-right: 180px;
}

@mixin tablet-offset {
    padding-left: 24px;
    padding-right: 24px;
}

@mixin mobile-offset {
    padding-left: 16px;
    padding-right: 16px;
}