$mobile-s-breakpoint: 320px;
$mobile-m-breakpoint: 375px;
$mobile-l-breakpoint: 425px;
$tablet-breakpoint: 768px;
$laptop-breakpoint: 1024px;
$laptop-m-breakpoint: 1200px;
$laptop-l-breakpoint: 1440px;